@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Montserrat';
        src: url('../fonts/Montserrat.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Montserrat-Black';
        src: url('../fonts/Montserrat-Black.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Quicksand';
        src: url('../fonts/Quicksand.ttf') format('ttf');
    }
    @font-face {
        font-family: 'PTSerif';
        src: url('../fonts/PTSerif.ttf') format('ttf');
    }

    label {
        @apply text-xs font-light;
    }

    [type="text"],
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="week"],
    [multiple],
    textarea,
    select {
        @apply rounded-sm ring-1 ring-gray-800 focus:border-brown focus:ring-brown;
    }
    [type="checkbox"],
    [type="radio"] {
        @apply border-gray-300 rounded-sm text-brown focus:ring-brown;
    }
    
}

/* @layer components {
    .strong {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -0.125rem;
            left: -0.5rem;
            right: -0.5rem;
            height: 0.75rem;
            z-index: -1;
            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    p > strong {
        font-weight: 400;  

        &::after {
            bottom: -0.2rem;
            height: 0.5rem;
            left: -0.25rem;
            right: -0.25rem;
        }
    }
} */


